<div class="sign-in-wrapper">
  <form [formGroup]="loginForm">
    <h1>sign-in</h1>
    <mat-form-field>
      <input matInput placeholder="Email" formControlName="email">
      <mat-error *ngIf="loginForm.get('email').touched && loginForm.get('email').invalid">{{getErrorMessage('email')}}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" placeholder="password" formControlName="password">
      <mat-error *ngIf="loginForm.get('password').touched && loginForm.get('password').invalid">{{getErrorMessage('password')}}</mat-error>
    </mat-form-field>
    <button mat-button (click)="doSignIn()" >
      Sign in
    </button>
    <br>
    <span class="alert alert-info">You can sign in with email "bruno@email.com" and password "bruno".</span>
  </form>
</div>
