<div>
  <ng-container *ngIf="currentTask">

    <form [formGroup]="editForm" (ngSubmit)="onSubmit()">

      <div class="form-group col-lg-4 col-md-4">

        <label for="title">Description </label>
        <textarea rows="4" cols="50" id="title" formControlName="title" required name="title" [(ngModel)]="currentTask.title">
        </textarea>
        <div *ngIf="editForm.controls.title.invalid  && (editForm.controls.title.dirty || editForm.controls.title.touched)"
             class="alert alert-danger">

          <div *ngIf="editForm.controls.title.errors.required">
            Description is required.
          </div>
        </div>
      </div>

      <div class="form-group col-lg-4 col-md-4">
        <label class="center-block">
          completed
        </label>
        <select class="form-control" formControlName="completed" name="completed" [(ngModel)]="currentTask.completed">
          <option *ngFor="let status of [false, true]" [value]="status">{{status}}</option>
        </select>
      </div>

      <div class="form-group col-lg-12">
        <button type="submit" [disabled]="editForm.pristine || editForm.invalid" class="btn btn-success">Edit</button>
      </div>
    </form>
  </ng-container>
</div>
