<span>Filters: </span>
<button mat-button routerLink="/tasks" queryParamsHandling="merge" [queryParams]="{_sort: 'id',_order: 'desc', _limit: 10}">Filter by id asc</button>
<button mat-button routerLink="/tasks" queryParamsHandling="merge" [queryParams]="{_page: 1}">add page</button>
<button mat-button routerLink="/tasks" [queryParams]="{}" color="primary">Remove</button>
<ng-container *ngIf="tasks">
  <div [@fancySearch]="formVisible" class="fancySearch text-center">
    <form [formGroup]="addFormGroup" novalidate (ngSubmit)="add()">
      <mat-form-field>
        <input matInput placeholder="Enter task desciption" formControlName="addField" #addFieldInput>
        <mat-error *ngIf="addFormGroup.get('addField').touched && addFormGroup.get('addField').invalid">{{getErrorMessage('addField')}}</mat-error>
      </mat-form-field>
      <button mat-button type="submit">Add</button>
      <button mat-icon-button type="reset" (click)="formVisible = 'inactive'" class="pull-right">
        <mat-icon color="accent">close</mat-icon>
      </button>
    </form>
  </div>

  <mat-list role="list">
    <mat-list-item role="listitem" *ngFor="let task of tasks">
      <app-task-detail [data]="task" (deleteEmit)="delete($event)" style="display: flex; width: 100%;"></app-task-detail>
    </mat-list-item>
  </mat-list>
</ng-container>
<ng-container *ngIf="!tasks">
  <h4>Loading stuff</h4>
</ng-container>

<button appPlusKeyAdd (keyEmit)="toggleFormVisibility()" mat-fab color="accent" style="position: fixed; bottom: 2em; right: 2em; z-index: 10;" (click)="toggleFormVisibility()" [class.hidden]="formVisible === 'active'">
  <mat-icon>add</mat-icon>
</button>
<!--[class]="{hidden: formVisible === 'active'}"-->
