<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Second Line</span>
    <span class="example-spacer"></span>
    <button
      mat-button
      routerLink="/"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{exact: true}">
      Basic
    </button>
    <button mat-button routerLink="/tasks" queryParamsHandling="merge" routerLinkActive="active">Tasks</button>
    <button mat-button routerLink="/user" routerLinkActive="active">User async</button>
  </mat-toolbar-row>
</mat-toolbar>
<toaster-container></toaster-container>
<router-outlet></router-outlet>
