<div>
  <button mat-button color="primary" (click)="delete(data.id)">Delete</button>
  <button mat-button color="primary" routerLink="edit/{{data.id}}">Edit</button>
</div>
<mat-icon mat-list-icon color="accent">assignment</mat-icon>
<h4 mat-line>{{data.title}}</h4>

